@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --Dark-Blue-intro: hsl(217, 28%, 15%);
  --Dark-Blue-main: hsl(218, 28%, 13%);
  --Dark-Blue--footer: hsl(216, 53%, 9%);
  --Dark-Blue--testimonials: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

@media (min-width: 375px) {
  * {
    padding: 0;
    margin: 0;
  }
  .MainBox {
    background-color: var(--Dark-Blue-intro);
    background-image: url(/images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0% 120%;
    padding: 1rem;
  }
  .MainBox .NavList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
  }
  .MainBox .NavList .ContainerLogo .Logo {
    width: 5rem;
    margin-left: 0.2rem;
  }
  .MainBox .NavList .NavAnclas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .MainBox .NavList .NavAnclas a {
    font-size: 14px;
    margin: 1rem 0.7rem;
    text-decoration: none;
    color: var(--White);
  }
  .MainBox .NavList .NavAnclas a:hover {
    text-decoration: underline;
  }
  .MainBox .ContImg {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem;
  }
  .MainBox .ContImg .IntroIlus {
    width: 300px;
  }
  .SectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--Dark-Blue-main);
  }
  .SectionOne .Container-Box {
    font-family: 'Open Sans', sans-serif;
    margin: 3rem 0rem;
  }
  .SectionOne .Container-Box img {
    width: 4.5rem;
    margin: 1rem;
  }
  .SectionOne .Container-Box h1 {
    color: var(--White);
    font-size: 26px;
    line-height: 2.4rem;
  }
  .SectionOne .Container-Box h2 {
    color: var(--White);
    line-height: 2.4rem;
    font-size: 20px;
  }
  .SectionOne .Container-Box p {
    color: var(--White);
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    margin: 1rem;
    font-weight: 400;
  }
  .SectionOne .Container-Box .StartBtn {
    color: var(--White);
    background-color: var(--Cyan);
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 0.9rem 5rem;
    border-radius: 20px;
    margin: 1rem;
  }
  .SectionTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--Dark-Blue-main);
    font-family: 'Raleway', sans-serif;
  }
  .SectionTwo .ContImgProduc {
    text-align: center;
  }
  .SectionTwo .ContImgProduc .ProductiveImg {
    width: 300px;
  }
  .SectionTwo h2 {
    color: var(--White);
    text-align: center;
    font-size: 20px;
  }
  .SectionTwo p {
    color: var(--White);
    font-size: 14px;
    line-height: 1.3rem;
    margin: 1rem 1rem;
    font-weight: 400;
  }
  .SectionTwo .ContainerBtn {
    margin-left: 1rem;
  }
  .SectionTwo .ContainerBtn .FyloWorkBtn {
    background: transparent;
    color: var(--Cyan);
    text-align: left;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: 1px solid var(--Cyan);
    background-image: url(/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 140px;
    line-height: 1.5rem;
  }
  .SectionTwo .ContainerBtn .FyloWorkBtn:hover {
    color: var(--White);
    border-color: var(--White);
    background-image: url(/images/icon-arrow-white.svg);
  }
  .SectionTwo .ContainerArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 7rem 0.5rem;
  }
  .SectionTwo .ContainerArticle .ArtBox {
    background-color: var(--Dark-Blue--testimonials);
    margin: 1rem;
    padding: 1rem;
    color: var(--White);
    font-family: 'Raleway', sans-serif;
  }
  .SectionTwo .ContainerArticle .ArtBox .quotes {
    position: relative;
    bottom: 2.6rem;
    right: 0.6rem;
    width: 2rem;
  }
  .SectionTwo .ContainerArticle .ArtBox p {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .SectionTwo .ContainerArticle .ArtBox figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .SectionTwo .ContainerArticle .ArtBox figcaption img {
    width: 2rem;
    border-radius: 20px;
    margin: 0.5rem;
  }
  .SectionTwo .ContainerArticle .ArtBox figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .SectionTwo .ContainerArticle .ArtBox figure .Person {
    color: var(--White);
  }
  .SectionTwo .ContainerArticle .ArtBox figure .Profesion {
    color: grey;
    font-size: 14px;
  }
  form {
    font-family: 'Raleway', sans-serif;
    background-color: var(--Dark-Blue-intro);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    top: 5rem;
  }
  form .ContainerEmailBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form input {
    padding: 1rem;
    border: none;
    border-radius: 20px;
    margin: 1rem;
  }
  form h2 {
    padding-top: 1rem;
  }
  form p {
    text-align: center;
  }
  form span {
    color: var(--Light-Red);
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
  }
  form .success {
    color: green;
  }
  form .Submit {
    padding: 1rem 2.4rem;
    border: none;
    border-radius: 20px;
    margin: 1rem;
    background-color: var(--Blue);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  form .Submit:hover {
    background-color: var(--Cyan);
  }
  footer {
    background-color: var(--Dark-Blue--footer);
    padding: 7rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 14px;
  }
  footer .ContText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--White);
  }
  footer .ContText .ContainerImgFooter {
    margin: 1.5rem;
  }
  footer .ContText span {
    margin: 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    letter-spacing: 2px;
  }
  footer .ContText span img {
    margin: 0rem 0.5rem;
    width: 1rem;
    height: 1rem;
  }
  footer .ContainerPhoneEmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    -ms-flex-item-align: left;
        align-self: left;
  }
  footer .ContainerPhoneEmail span {
    margin: 0.5rem;
  }
  footer .ContainerPhoneEmail span img {
    width: 1rem;
    margin: 0rem 0.5rem;
  }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: left;
        align-self: left;
    position: relative;
    top: 2rem;
  }
  footer nav .Ancla {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
  }
  footer nav .Ancla a {
    color: #d9d5d5;
    text-decoration: none;
    margin: 0.5rem 0rem;
  }
  footer nav .Ancla a:hover {
    color: var(--White);
  }
  footer nav .RRSS {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem;
    text-align: center;
  }
  footer nav .RRSS i {
    font-size: 1rem;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  footer nav .RRSS i:hover {
    color: var(--Cyan);
    border-color: var(--Cyan);
  }
}

@media (min-width: 1024px) {
  .MainBox {
    background-image: url(/images/bg-curvy-desktop.svg);
    background-size: contain;
  }
  .MainBox .NavList {
    max-width: 1024px;
    margin: auto;
  }
  .MainBox .NavList .ContainerLogo .Logo {
    width: 6rem;
  }
  .MainBox .NavList .NavAnclas a {
    font-size: 18px;
  }
  .MainBox .ContImg {
    margin: 3rem;
  }
  .MainBox .ContImg .IntroIlus {
    width: 600px;
  }
  .SectionOne .Container-Box {
    margin: 3rem 4rem;
  }
  .SectionOne .ContainerData {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .SectionTwo .Container-Productive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .SectionTwo .Container-Productive .ContImgProduc .ProductiveImg {
    width: 500px;
  }
  .SectionTwo .Container-Productive .Container-TextProductive {
    width: 400px;
  }
  .SectionTwo .Container-Productive .Container-TextProductive h2 {
    margin-right: 5rem;
    font-size: 32px;
    letter-spacing: 1px;
  }
  .SectionTwo .Container-Productive .Container-TextProductive p {
    letter-spacing: 2px;
  }
  .SectionTwo .ContainerArticle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .SectionTwo .ContainerArticle .ArtBox {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  form {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }
  form .ContainerEmailBtn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  form .ContainerEmailBtn input {
    padding: 1rem 12rem;
    text-align: center;
  }
  form .ContainerEmailBtn input::-webkit-input-placeholder {
    position: relative;
    right: 100%;
  }
  form .ContainerEmailBtn input:-ms-input-placeholder {
    position: relative;
    right: 100%;
  }
  form .ContainerEmailBtn input::-ms-input-placeholder {
    position: relative;
    right: 100%;
  }
  form .ContainerEmailBtn input::placeholder {
    position: relative;
    right: 100%;
  }
  form .Submit {
    margin: 0;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .ContText {
    max-width: 400px;
  }
  footer .ContText .ContainerImgFooter {
    margin: 0;
  }
  footer .ContainerPhoneEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */